.filter{
    
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 8px;
    background-color: #232e3a;
    select{
        font-size: 18px;    
        outline: none;   
        padding:5px 20px;
        border-radius: 5px;
        color: #c6c6d1;
        background-color: #17222e;
    }
}