.filter {
  display: flex;
  justify-content: end;
  padding: 10px;
  background-color: #9abada;
}
.filter select {
  font-size: 30px;
  outline: none;
  padding: 5px 20px;
  border-radius: 5px;
  color: #3f3f47;
}